@page "/Counter"
@inherits MVVMSidekickComponentBase<Counter, Counter_ViewModel>;
@using Microsoft.Extensions.Configuration;
@using Microsoft.Extensions.DependencyInjection;
@using MVVMSidekick.ViewModels;
@using MVVMSidekickBlazorDemo.Pages.ViewModels;

<h1>Counter</h1>

<p>Current count: @ViewModel.CurrentCount</p>

<button class="btn btn-primary" @onclick="ViewModel.CommandIncrementCount.Execute">Click me</button>


