<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.Bcl" version="1.1.10" targetFramework="net45" />
  <package id="Microsoft.Bcl.Build" version="1.0.21" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="13.0.2" targetFramework="net46" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net46" />
  <package id="System.Memory" version="4.5.4" targetFramework="net46" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.7.1" targetFramework="net46" />
  <package id="Unity" version="5.11.7" targetFramework="net46" />
</packages>