<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.Bcl" version="1.1.10" targetFramework="net45" userInstalled="true" />
  <package id="Microsoft.Bcl.Async" version="1.0.168" targetFramework="net45" userInstalled="true" />
  <package id="Microsoft.Bcl.Build" version="1.0.21" targetFramework="net45" userInstalled="true" />
  <package id="Microsoft.Tpl.Dataflow" version="4.5.24" targetFramework="net45" userInstalled="true" />
  <package id="Unity" version="3.5.1404" targetFramework="net45" userInstalled="true" />
</packages>