<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="MSTest.TestAdapter" version="2.1.2" targetFramework="net461" />
  <package id="MSTest.TestFramework" version="2.1.2" targetFramework="net461" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="5.0.0-preview.6.20305.6" targetFramework="net461" />
  <package id="Unity" version="5.11.7" targetFramework="net461" />
</packages>